/* Pipeline input parameters */
params.database = "$projectDir/databases/silva_nr99_v138.1_train_set.fa"
params.nbtax = 10
params.outdir = "results"
params.nbmock = 3
params.fwd = "GTGCCAGCMGCCGCGGTAA"
params.rev = "GGACTACHVGGGTWTCTAAT"
params.model = "NovaSeq"
params.seqdepth = 20000
params.distrib = "lognormal"

/* Pipeline profiles parameters */
profiles {
  conda {
    conda.enabled = true
    process {
            withName: CRABS{conda = "bioconda::crabs=0.1.1-0"}
            withName: INSILICO{conda = "bioconda::insilicoseq=2.0.1-0"} 
    }  
  }

  docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
    process {
            withName: CRABS{container = "quay.io/biocontainers/crabs:0.1.1--pyhb7b1952_0" }
            withName: INSILICO{container = "quay.io/biocontainers/insilicoseq:2.0.1--pyh7cba7a3_0" } 
    }
  }
}
